workflow/workflow.template.json
{
  "name": "Reconciliation-Bot",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 2 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        48
      ],
      "id": "158519fe-8851-4f88-9ab0-d13df565bd11",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1d756d40-bcdf-408d-b2f5-e6702e2c416c",
              "name": "window_start",
              "value": "={{ $now.minus({days:1}).startOf('day').toUTC().toISO() }}",
              "type": "string"
            },
            {
              "id": "1c5781dc-11af-4d24-bb50-3b651f886393",
              "name": "window_end",
              "value": "={{ $now.startOf('day').toUTC().toISO() }}",
              "type": "string"
            },
            {
              "id": "2a8f3e91-6c4d-4b7a-9e5c-7d1f8b2a4c60",
              "name": "deals_window_start",
              "value": "={{ $now.minus({days:5}).startOf('day').toUTC().toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        48
      ],
      "id": "7a14b19e-413d-4f96-9a29-b307f544cc72",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "charge",
        "operation": "getAll",
        "returnAll": true
      },
      "type": "n8n-nodes-base.stripe",
      "typeVersion": 1,
      "position": [
        896,
        -128
      ],
      "id": "b2d1e6fc-f006-4c91-9b99-2df3d0828569",
      "name": "Get many charges",
      "credentials": {
        "stripeApi": {
          "id": "h8iD5QVOB9kogLK8",
          "name": "Stripe account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9a13682f-7fe1-4555-8d36-c3f902ad20ff",
              "leftValue": "={{ $json.created }}",
              "rightValue": "={{ Math.floor(Date.parse($('Edit Fields').item.json.window_start)/1000) }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "d4891828-7feb-4fd5-ad2e-c0d7971ab24d",
              "leftValue": "={{ $json.created }}",
              "rightValue": "={{ Math.floor(Date.parse($('Edit Fields').item.json.window_end)/1000) }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1120,
        -128
      ],
      "id": "c303ca71-ed67-45b8-82e8-933559d05ac4",
      "name": "Filter"
    },
    {
      "parameters": {
        "authentication": "appToken",
        "resource": "deal",
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "includeAssociations": true,
          "properties": [
            "dealname",
            "amount",
            "dealstage",
            "closedate",
            "createdate"
          ]
        }
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        448,
        144
      ],
      "id": "d8cee8be-48c9-4cde-b7f8-20a8d4745f11",
      "name": "Get many deals",
      "credentials": {
        "hubspotAppToken": {
          "id": "68V9F2H8THTYmeKE",
          "name": "HubSpot account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "88188f82-e1b6-4a2c-94e1-dc383662b8b9",
              "leftValue": "={{ parseInt($json.properties.closedate.value) }}",
              "rightValue": "={{ Date.parse($('Edit Fields').item.json.deals_window_start) }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "0a1ee094-5eba-410e-a88f-de95bb28b0ac",
              "leftValue": "={{ parseInt($json.properties.closedate.value) }}",
              "rightValue": "={{ Date.parse($('Edit Fields').item.json.window_end) }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        672,
        144
      ],
      "id": "2e4d35b5-18c4-4ec8-b854-3a2b53158d6c",
      "name": "Filter1"
    },
    {
      "parameters": {
        "authentication": "appToken",
        "operation": "get",
        "contactId": {
          "__rl": true,
          "value": "={{ $json.associations.associatedVids[0] }}\n",
          "mode": "id"
        },
        "additionalFields": {
          "propertiesCollection": {
            "propertiesValues": {
              "properties": [
                "email",
                "firstname",
                "lastname"
              ]
            }
          }
        }
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        896,
        64
      ],
      "id": "8492180f-bfa5-4d18-a6e9-df87db802d6f",
      "name": "Get a contact",
      "credentials": {
        "hubspotAppToken": {
          "id": "kOXNsOMTZNMkuUOy",
          "name": "HubSpot account 3"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1120,
        144
      ],
      "id": "523f9eb0-9a78-492d-9b6b-dcc0c8c7ab8e",
      "name": "Merge"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1344,
        48
      ],
      "id": "c8416979-a8f8-41eb-8370-7ad2a0ce6d72",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "return $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        48
      ],
      "id": "5c2b33c4-7b56-46e7-927f-22e83b9e3dbd",
      "name": "Match"
    },
    {
      "parameters": {
        "jsCode": "return $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        48
      ],
      "id": "fa70b642-7c9f-4536-a9f5-ca089a513f7e",
      "name": "Classify"
    },
    {
      "parameters": {
        "fieldToSplitOut": "exceptions",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2688,
        64
      ],
      "id": "57b73fb1-7c7c-421e-b971-01bda7caf23b",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO exceptions\n  (run_id, exception_type, charge_id, deal_id, email, amount, confidence, detail)\nVALUES\n  ($1, $2, $3, $4, $5, $6, $7, $8)\nON CONFLICT (exception_type, charge_id, deal_id)\nDO UPDATE SET run_id = EXCLUDED.run_id, last_seen = now();",
        "options": {
          "queryReplacement": "={{ [ $json.runId, $json.exceptions.type, $json.exceptions.payment?.id || '', $json.exceptions.deal?.id || '', $json.exceptions.payment?.email || $json.exceptions.deal?.email || null, $json.exceptions.payment?.amount || $json.exceptions.deal?.amount || null, $json.exceptions.confidence ?? null, JSON.stringify($json.exceptions) ] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2912,
        64
      ],
      "id": "e4c910d2-0609-4091-83fe-837de17143ed",
      "name": "Upsert Exception",
      "credentials": {
        "postgres": {
          "id": "9eex3nuBYxfvwzys",
          "name": "Postgres account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1kMElJYfxuIAHFBQFubzSDiPIA1zE9F7PMQfavBoullg"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kMElJYfxuIAHFBQFubzSDiPIA1zE9F7PMQfavBoullg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $json.date }}",
            "type": "={{ $json.type }}",
            "amount": "= {{ $json.amount }}",
            "customer": "={{ $json.customer }}",
            "email": "={{ $json.email }}",
            "confidence": "={{ $json.confidence }}",
            "paymentLink": "={{ $json.paymentLink }}",
            "dealLink": "={{ $json.dealLink }}",
            "resolved": "false"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "amount",
              "displayName": "amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "customer",
              "displayName": "customer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "confidence",
              "displayName": "confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "paymentLink",
              "displayName": "paymentLink",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "dealLink",
              "displayName": "dealLink",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resolved",
              "displayName": "resolved",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2912,
        -128
      ],
      "id": "512376ff-3c65-4afb-be41-8d1cbf5092a2",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FA9tOf02TIEjq1H8",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "return $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2464,
        -224
      ],
      "id": "c3a4f3be-41b7-402a-8d10-2aaee633002e",
      "name": "Format"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2688,
        -320
      ],
      "id": "457f9e48-1d54-4924-8152-6a1e6b35fd8b",
      "name": "Slack",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "return $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        48
      ],
      "id": "12f257c2-4512-49d6-8cd6-c8ced19720e0",
      "name": "Normalize"
    },
    {
      "parameters": {
        "fieldToSplitOut": "sheetRows",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2688,
        -128
      ],
      "id": "c43779d1-eadc-418a-b1a0-483d5e117310",
      "name": "Split Out Sheet Rows"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO runs\n  (started_at, window_start, window_end, payments_fetched, deals_fetched, matched, exceptions, status)\nVALUES\n  ($1, $2, $3, $4, $5, $6, $7, 'ok')\nRETURNING id;",
        "options": {
          "queryReplacement": "={{ $now.toISO() }}, {{ $('Edit Fields').item.json.window_start }}, {{ $('Edit Fields').item.json.window_end }}, {{ $json.matchResult.matched.length + $json.matchResult.review.length + $json.matchResult.unmatchedPayments.length }}, {{ $json.matchResult.matched.length + $json.matchResult.review.length + $json.matchResult.unmatchedDeals.length }}, {{ $json.matchResult.matched.length }}, {{ $json.exceptions.length }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2240,
        384
      ],
      "id": "c37ebbe9-7d70-42cf-bd92-096d66cac189",
      "name": "Insert Run",
      "credentials": {
        "postgres": {
          "id": "9eex3nuBYxfvwzys",
          "name": "Postgres account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const runId = $input.first().json.id;\nconst { exceptions, matchResult } = $('Classify').first().json;\nreturn [{ json: { runId, exceptions, matchResult } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2464,
        160
      ],
      "id": "45defb85-2daf-4a8f-b57a-737f0ade99a7",
      "name": "Attach Run Id"
    },
    {
      "parameters": {
        "fieldToSplitOut": "matchResult.matched",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2688,
        256
      ],
      "id": "5ff841e2-7878-4f33-b4ed-7b2c5f764d12",
      "name": "Split Out Matched"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO matches (run_id, charge_id, deal_id, confidence, reasons)\nVALUES ($1, $2, $3, $4, $5);",
        "options": {
          "queryReplacement": "={{ [ $json.runId, $json['matchResult.matched'].payment.id, $json['matchResult.matched'].deal.id, $json['matchResult.matched'].confidence, JSON.stringify($json['matchResult.matched'].reasons) ] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2912,
        256
      ],
      "id": "e6070993-3553-490b-add1-ca1fa5c0f3ba",
      "name": "Insert Match",
      "credentials": {
        "postgres": {
          "id": "9eex3nuBYxfvwzys",
          "name": "Postgres account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"text\": \"Reconciliation run failed. Check the `runs` table for details.\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3568,
        400
      ],
      "id": "992cc422-1ea0-4292-9936-9de653826656",
      "name": "Failure Alert"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE runs SET status='failed', error=$1 WHERE id=$2;",
        "options": {
          "queryReplacement": "={{ $json.error?.message || 'unknown error' }}, {{ $('Insert Run').first().json.id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3248,
        64
      ],
      "id": "8efcfbd3-315b-4ea6-8e32-0ee11df0ca8b",
      "name": "Mark Run Failed",
      "credentials": {
        "postgres": {
          "id": "9eex3nuBYxfvwzys",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get many charges",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get many deals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many charges": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get many deals": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Get a contact",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a contact": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Match": {
      "main": [
        [
          {
            "node": "Classify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify": {
      "main": [
        [
          {
            "node": "Format",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Upsert Exception",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out Sheet Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize": {
      "main": [
        [
          {
            "node": "Match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Sheet Rows": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Run": {
      "main": [
        [
          {
            "node": "Attach Run Id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Failure Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach Run Id": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out Matched",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Matched": {
      "main": [
        [
          {
            "node": "Insert Match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Match": {
      "main": [
        [],
        [
          {
            "node": "Mark Run Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [],
        [
          {
            "node": "Mark Run Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Run Failed": {
      "main": [
        [
          {
            "node": "Failure Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Exception": {
      "main": [
        [],
        [
          {
            "node": "Mark Run Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "879a8b12-9b69-4629-82a0-e14ae369ce3d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5ad6761c3df174a59789152e8e809be51e3a6e9fc3fdba31f182bf732d30864e"
  },
  "nodeGroups": [],
  "id": "ob89K5cknBU6QmCU",
  "tags": []
}