workflow/workflow.json
{
  "name": "Reconciliation-Bot",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 2 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        48
      ],
      "id": "158519fe-8851-4f88-9ab0-d13df565bd11",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1d756d40-bcdf-408d-b2f5-e6702e2c416c",
              "name": "window_start",
              "value": "={{ $now.minus({days:1}).startOf('day').toUTC().toISO() }}",
              "type": "string"
            },
            {
              "id": "1c5781dc-11af-4d24-bb50-3b651f886393",
              "name": "window_end",
              "value": "={{ $now.startOf('day').toUTC().toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        48
      ],
      "id": "7a14b19e-413d-4f96-9a29-b307f544cc72",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "charge",
        "operation": "getAll",
        "returnAll": true
      },
      "type": "n8n-nodes-base.stripe",
      "typeVersion": 1,
      "position": [
        896,
        -128
      ],
      "id": "b2d1e6fc-f006-4c91-9b99-2df3d0828569",
      "name": "Get many charges",
      "credentials": {
        "stripeApi": {
          "id": "h8iD5QVOB9kogLK8",
          "name": "Stripe account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9a13682f-7fe1-4555-8d36-c3f902ad20ff",
              "leftValue": "={{ $json.created }}",
              "rightValue": "={{ Math.floor(Date.parse($('Edit Fields').item.json.window_start)/1000) }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "d4891828-7feb-4fd5-ad2e-c0d7971ab24d",
              "leftValue": "={{ $json.created }}",
              "rightValue": "={{ Math.floor(Date.parse($('Edit Fields').item.json.window_end)/1000) }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1120,
        -128
      ],
      "id": "c303ca71-ed67-45b8-82e8-933559d05ac4",
      "name": "Filter"
    },
    {
      "parameters": {
        "authentication": "appToken",
        "resource": "deal",
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "includeAssociations": true,
          "properties": [
            "dealname",
            "amount",
            "dealstage",
            "closedate",
            "createdate"
          ]
        }
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        448,
        144
      ],
      "id": "d8cee8be-48c9-4cde-b7f8-20a8d4745f11",
      "name": "Get many deals",
      "credentials": {
        "hubspotAppToken": {
          "id": "68V9F2H8THTYmeKE",
          "name": "HubSpot account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "88188f82-e1b6-4a2c-94e1-dc383662b8b9",
              "leftValue": "={{ parseInt($json.properties.closedate.value) }}",
              "rightValue": "={{ Date.parse($('Edit Fields').item.json.window_start) }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "0a1ee094-5eba-410e-a88f-de95bb28b0ac",
              "leftValue": "={{ parseInt($json.properties.closedate.value) }}",
              "rightValue": "={{ Date.parse($('Edit Fields').item.json.window_end) }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        672,
        144
      ],
      "id": "2e4d35b5-18c4-4ec8-b854-3a2b53158d6c",
      "name": "Filter1"
    },
    {
      "parameters": {
        "authentication": "appToken",
        "operation": "get",
        "contactId": {
          "__rl": true,
          "value": "={{ $json.associations.associatedVids[0] }}\n",
          "mode": "id"
        },
        "additionalFields": {
          "propertiesCollection": {
            "propertiesValues": {
              "properties": [
                "email",
                "firstname",
                "lastname"
              ]
            }
          }
        }
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        896,
        64
      ],
      "id": "8492180f-bfa5-4d18-a6e9-df87db802d6f",
      "name": "Get a contact",
      "credentials": {
        "hubspotAppToken": {
          "id": "kOXNsOMTZNMkuUOy",
          "name": "HubSpot account 3"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1120,
        144
      ],
      "id": "523f9eb0-9a78-492d-9b6b-dcc0c8c7ab8e",
      "name": "Merge"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1344,
        48
      ],
      "id": "c8416979-a8f8-41eb-8370-7ad2a0ce6d72",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "const DEFAULT_CONFIG = {\n  feeTolerance: 0.035,\n  amountTenPercentTolerance: 0.10,\n  nameFuzzyThreshold: 0.85,\n  autoMatchThreshold: 85,\n  reviewThreshold: 60,\n  timestamp24hMs: 24 * 60 * 60 * 1000,\n  timestamp48hMs: 48 * 60 * 60 * 1000,\n  scoreEmailExact: 50,\n  scoreNameFuzzy: 20,\n  scoreAmountExact: 40,\n  scoreAmountFeeTolerance: 25,\n  scoreAmountTenPercent: 10,\n  scoreTimestamp24h: 10,\n  scoreTimestamp48h: 5,\n};\n\nfunction levenshtein(a, b) {\n  const rows = a.length + 1;\n  const cols = b.length + 1;\n  const d = Array.from({ length: rows }, (_, i) => [i, ...Array(cols - 1).fill(0)]);\n  for (let j = 0; j < cols; j++) d[0][j] = j;\n  for (let i = 1; i < rows; i++) {\n    for (let j = 1; j < cols; j++) {\n      const cost = a[i - 1] === b[j - 1] ? 0 : 1;\n      d[i][j] = Math.min(d[i - 1][j] + 1, d[i][j - 1] + 1, d[i - 1][j - 1] + cost);\n    }\n  }\n  return d[rows - 1][cols - 1];\n}\n\nfunction nameSimilarity(nameA, nameB) {\n  const a = nameA.trim().toLowerCase();\n  const b = nameB.trim().toLowerCase();\n  const maxLen = Math.max(a.length, b.length);\n  if (maxLen === 0) return 0;\n  return 1 - levenshtein(a, b) / maxLen;\n}\n\nfunction scorePair(payment, deal, config) {\n  if (payment.currency !== deal.currency) return null;\n\n  const reasons = [];\n  let score = 0;\n  let isCandidate = false;\n\n  if (payment.email && deal.email && payment.email === deal.email) {\n    isCandidate = true;\n    score += config.scoreEmailExact;\n    reasons.push('email_exact');\n  } else if (!payment.email && !deal.email && payment.name && deal.name) {\n    if (nameSimilarity(payment.name, deal.name) > config.nameFuzzyThreshold) {\n      isCandidate = true;\n      score += config.scoreNameFuzzy;\n      reasons.push('name_fuzzy');\n    }\n  }\n\n  if (!isCandidate) return null;\n\n  if (payment.amount != null && deal.amount != null) {\n    const paymentCents = Math.round(payment.amount * 100);\n    const dealCents = Math.round(deal.amount * 100);\n    const diffRatio = dealCents === 0 ? 0 : Math.abs(paymentCents - dealCents) / dealCents;\n    if (paymentCents === dealCents) {\n      score += config.scoreAmountExact;\n      reasons.push('amount_exact');\n    } else if (diffRatio <= config.feeTolerance) {\n      score += config.scoreAmountFeeTolerance;\n      reasons.push('amount_fee_adjusted');\n    } else if (diffRatio <= config.amountTenPercentTolerance) {\n      score += config.scoreAmountTenPercent;\n      reasons.push('amount_within_10pct');\n    } else {\n      reasons.push('amount_mismatch');\n    }\n  }\n\n  if (payment.timestamp && deal.timestamp) {\n    const diffMs = Math.abs(new Date(payment.timestamp).getTime() - new Date(deal.timestamp).getTime());\n    if (diffMs <= config.timestamp24hMs) {\n      score += config.scoreTimestamp24h;\n      reasons.push('timestamp_within_24h');\n    } else if (diffMs <= config.timestamp48hMs) {\n      score += config.scoreTimestamp48h;\n      reasons.push('timestamp_within_48h');\n    }\n  }\n\n  return { score, reasons };\n}\n\nfunction match(payments, deals, config) {\n  const cfg = { ...DEFAULT_CONFIG, ...config };\n\n  const pairs = [];\n  for (const payment of payments) {\n    for (const deal of deals) {\n      const scored = scorePair(payment, deal, cfg);\n      if (scored && scored.score >= cfg.reviewThreshold) {\n        pairs.push({ payment, deal, confidence: scored.score, reasons: scored.reasons });\n      }\n    }\n  }\n  pairs.sort((a, b) => b.confidence - a.confidence);\n\n  const claimedPayments = new Set();\n  const claimedDeals = new Set();\n  const matched = [];\n  const review = [];\n\n  for (const pair of pairs) {\n    if (claimedPayments.has(pair.payment) || claimedDeals.has(pair.deal)) continue;\n    claimedPayments.add(pair.payment);\n    claimedDeals.add(pair.deal);\n    if (pair.confidence >= cfg.autoMatchThreshold) {\n      matched.push(pair);\n    } else {\n      review.push(pair);\n    }\n  }\n\n  const unmatchedPayments = payments.filter((p) => !claimedPayments.has(p));\n  const unmatchedDeals = deals.filter((d) => !claimedDeals.has(d));\n\n  return { matched, review, unmatchedPayments, unmatchedDeals };\n}\n\n// Driver for the \"Match\" Code node. Appended after src/matcher.js.\nconst { payments, deals } = $input.first().json;\nreturn [{ json: { matchResult: match(payments, deals, {}) } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        48
      ],
      "id": "5c2b33c4-7b56-46e7-927f-22e83b9e3dbd",
      "name": "Match"
    },
    {
      "parameters": {
        "jsCode": "const DEFAULT_CONFIG = {\n  duplicateWindowMs: 60 * 60 * 1000,\n  excludeSubscriptions: true,\n};\n\nfunction isDuplicateOf(a, b, windowMs) {\n  if (a === b) return false;\n  if (!a.email || a.email !== b.email) return false;\n  const aCents = Math.round(a.amount * 100);\n  const bCents = Math.round(b.amount * 100);\n  if (aCents !== bCents) return false;\n  const diffMs = Math.abs(new Date(a.timestamp).getTime() - new Date(b.timestamp).getTime());\n  return diffMs <= windowMs;\n}\n\nfunction classify(matchResult, config) {\n  const cfg = { ...DEFAULT_CONFIG, ...config };\n  const exceptions = [];\n\n  for (const pair of [...matchResult.matched, ...matchResult.review]) {\n    const { payment, deal, confidence, reasons } = pair;\n    if (payment.refunded && deal.stage === 'closedwon') {\n      exceptions.push({ type: 'ORPHAN_REFUND', payment, deal, confidence });\n    } else if (reasons.includes('amount_within_10pct') || reasons.includes('amount_mismatch')) {\n      exceptions.push({ type: 'AMOUNT_MISMATCH', payment, deal, confidence });\n    } else if (matchResult.review.includes(pair)) {\n      exceptions.push({ type: 'REVIEW', payment, deal, confidence });\n    }\n  }\n\n  for (const deal of matchResult.unmatchedDeals) {\n    if (deal.stage === 'closedwon' && deal.email) {\n      exceptions.push({ type: 'DEAL_NO_PAYMENT', deal });\n    }\n  }\n\n  const allPayments = [\n    ...matchResult.matched.map((m) => m.payment),\n    ...matchResult.review.map((r) => r.payment),\n    ...matchResult.unmatchedPayments,\n  ];\n\n  for (const payment of matchResult.unmatchedPayments) {\n    const duplicateOf = allPayments.find((other) => isDuplicateOf(payment, other, cfg.duplicateWindowMs));\n    if (duplicateOf) {\n      exceptions.push({ type: 'DUPLICATE_CHARGE', payment, duplicateOf });\n    } else if (cfg.excludeSubscriptions && payment.subscriptionId != null) {\n      // subscription renewal, no new deal expected — not an exception (PLAN.md §7.4)\n    } else {\n      exceptions.push({ type: 'PAYMENT_NO_DEAL', payment, unmatchable: !payment.email });\n    }\n  }\n\n  return exceptions;\n}\n\n// Driver for the \"Classify\" Code node. Appended after src/classify.js.\n// Output feeds two branches: Split Out(exceptions) -> Postgres, and\n// Format -> Slack/Sheets. Both need matchResult kept alongside exceptions.\nconst { matchResult } = $input.first().json;\nconst exceptions = classify(matchResult, {});\nreturn [{ json: { matchResult, exceptions } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        48
      ],
      "id": "fa70b642-7c9f-4536-a9f5-ca089a513f7e",
      "name": "Classify"
    },
    {
      "parameters": {
        "fieldToSplitOut": "exceptions",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2688,
        64
      ],
      "id": "57b73fb1-7c7c-421e-b971-01bda7caf23b",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO exceptions\n  (run_id, exception_type, charge_id, deal_id, email, amount, confidence, detail)\nVALUES\n  ($1, $2, $3, $4, $5, $6, $7, $8)\nON CONFLICT (exception_type, charge_id, deal_id)\nDO UPDATE SET last_seen = now();",
        "options": {
          "queryReplacement": "={{ [ $json.runId, $json.exceptions.type, $json.exceptions.payment?.id || '', $json.exceptions.deal?.id || '', $json.exceptions.payment?.email || $json.exceptions.deal?.email || null, $json.exceptions.payment?.amount || $json.exceptions.deal?.amount || null, $json.exceptions.confidence ?? null, JSON.stringify($json.exceptions) ] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2912,
        64
      ],
      "id": "e4c910d2-0609-4091-83fe-837de17143ed",
      "name": "Upsert Exception",
      "credentials": {
        "postgres": {
          "id": "9eex3nuBYxfvwzys",
          "name": "Postgres account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "id",
          "value": "1kMElJYfxuIAHFBQFubzSDiPIA1zE9F7PMQfavBoullg"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kMElJYfxuIAHFBQFubzSDiPIA1zE9F7PMQfavBoullg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "date": "={{ $json.date }}",
            "type": "={{ $json.type }}",
            "amount": "= {{ $json.amount }}",
            "customer": "={{ $json.customer }}",
            "email": "={{ $json.email }}",
            "confidence": "={{ $json.confidence }}",
            "paymentLink": "={{ $json.paymentLink }}",
            "dealLink": "={{ $json.dealLink }}",
            "resolved": "false"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "type",
              "displayName": "type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "amount",
              "displayName": "amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "customer",
              "displayName": "customer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "confidence",
              "displayName": "confidence",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "paymentLink",
              "displayName": "paymentLink",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "dealLink",
              "displayName": "dealLink",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "resolved",
              "displayName": "resolved",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2912,
        -128
      ],
      "id": "512376ff-3c65-4afb-be41-8d1cbf5092a2",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FA9tOf02TIEjq1H8",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const DEFAULT_CONFIG = {\n  maxExceptionsInMessage: 10,\n};\n\n// DUPLICATE_CHARGE and PAYMENT_NO_DEAL first (money is wrong right now),\n// REVIEW last. Middle order is our own call: ORPHAN_REFUND (money already\n// moved backwards) before AMOUNT_MISMATCH before DEAL_NO_PAYMENT (deal is\n// stuck, not urgent-money-wrong). Per PLAN.md section \"Phase 4\".\nconst SEVERITY_ORDER = [\n  'DUPLICATE_CHARGE',\n  'PAYMENT_NO_DEAL',\n  'ORPHAN_REFUND',\n  'AMOUNT_MISMATCH',\n  'DEAL_NO_PAYMENT',\n  'REVIEW',\n];\n\nfunction exceptionAmount(exception) {\n  if (exception.payment) return exception.payment.amount;\n  if (exception.deal) return exception.deal.amount;\n  return 0;\n}\n\nfunction exceptionCustomer(exception) {\n  return (exception.payment && exception.payment.name) || (exception.deal && exception.deal.name) || null;\n}\n\nfunction exceptionEmail(exception) {\n  return (exception.payment && exception.payment.email) || (exception.deal && exception.deal.email) || null;\n}\n\n// Sheet formula injection: Excel/Google Sheets runs a cell starting with\n// =/+/-/@ as a formula. Customer name/email are attacker-influenceable\n// (whatever the customer typed at checkout), so neutralize before they\n// reach a spreadsheet cell.\nfunction sanitizeForSheet(value) {\n  if (value == null) return value;\n  return /^[=+\\-@]/.test(value) ? `'${value}` : value;\n}\n\n// Slack mrkdwn injection: &, <, > have special meaning in Slack's mrkdwn\n// (link/entity syntax) and must be escaped before interpolation into block\n// text, per Slack's own escaping rules.\nfunction escapeMrkdwn(value) {\n  return String(value).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\n}\n\nfunction exceptionLine(exception) {\n  const customer = escapeMrkdwn(exceptionCustomer(exception) || 'unknown');\n  const amount = exceptionAmount(exception);\n  const amountStr = amount != null ? `$${amount.toFixed(2)}` : 'unknown amount';\n  return `*${exception.type}* — ${customer} — ${amountStr}`;\n}\n\nfunction summarize(matchResult, exceptions) {\n  const totalPayments =\n    matchResult.matched.length + matchResult.review.length + matchResult.unmatchedPayments.length;\n  const exceptionCount = exceptions.length;\n  const cleanCount = totalPayments - exceptionCount;\n  const unreconciledAmount = exceptions.reduce((sum, e) => sum + (exceptionAmount(e) || 0), 0);\n\n  return { totalPayments, cleanCount, exceptionCount, unreconciledAmount };\n}\n\nfunction formatSlackMessage(matchResult, exceptions, config) {\n  const cfg = { ...DEFAULT_CONFIG, ...config };\n  const summary = summarize(matchResult, exceptions);\n\n  const headline = `${summary.totalPayments} payments · ${summary.cleanCount} clean · ${summary.exceptionCount} exceptions · $${summary.unreconciledAmount.toFixed(2)} unreconciled`;\n\n  const ordered = [...exceptions].sort(\n    (a, b) => SEVERITY_ORDER.indexOf(a.type) - SEVERITY_ORDER.indexOf(b.type)\n  );\n  const shown = ordered.slice(0, cfg.maxExceptionsInMessage);\n  const remaining = ordered.length - shown.length;\n\n  const lines = shown.map(exceptionLine);\n  if (remaining > 0) lines.push(`…and ${remaining} more, see sheet.`);\n\n  return {\n    blocks: [\n      { type: 'section', text: { type: 'mrkdwn', text: `*${headline}*` } },\n      ...lines.map((line) => ({ type: 'section', text: { type: 'mrkdwn', text: line } })),\n    ],\n  };\n}\n\nfunction formatSheetRows(exceptions) {\n  return exceptions.map((exception) => {\n    const record = exception.payment || exception.deal;\n    return {\n      date: record.timestamp,\n      type: exception.type,\n      amount: exceptionAmount(exception),\n      customer: sanitizeForSheet(exceptionCustomer(exception)),\n      email: sanitizeForSheet(exceptionEmail(exception)),\n      confidence: exception.confidence != null ? exception.confidence : null,\n      paymentLink: exception.payment ? exception.payment.url : null,\n      dealLink: exception.deal ? exception.deal.url : null,\n      resolved: false, // report-only: this bot never reads the checkbox back, decision logged in progress.md\n    };\n  });\n}\n\n// Driver for the \"Format\" Code node. Appended after src/format.js.\n// Produces both outputs format.js owns: Slack blocks and Sheet rows.\n// Split Out(sheetRows) downstream feeds the Sheets append node; `blocks`\n// goes straight to the Slack HTTP Request node.\nconst { matchResult, exceptions } = $input.first().json;\nconst slack = formatSlackMessage(matchResult, exceptions, {});\nconst sheetRows = formatSheetRows(exceptions);\nreturn [{ json: { blocks: slack.blocks, sheetRows } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2464,
        -224
      ],
      "id": "c3a4f3be-41b7-402a-8d10-2aaee633002e",
      "name": "Format"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2688,
        -320
      ],
      "id": "457f9e48-1d54-4924-8152-6a1e6b35fd8b",
      "name": "Slack",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "function normalizeEmail(raw) {\n  if (raw == null) return null;\n  const trimmed = String(raw).trim().toLowerCase();\n  const atIndex = trimmed.indexOf('@');\n  if (atIndex === -1) return trimmed;\n  const local = trimmed.slice(0, atIndex);\n  const domain = trimmed.slice(atIndex);\n  const plusIndex = local.indexOf('+');\n  const cleanLocal = plusIndex === -1 ? local : local.slice(0, plusIndex);\n  return cleanLocal + domain;\n}\n\nfunction normalizeAmount(raw, source) {\n  if (raw == null) return null;\n  const dollars = source === 'stripe' ? Number(raw) / 100 : Number(raw);\n  return Math.round(dollars * 100) / 100;\n}\n\nfunction normalizeTimestamp(raw, source) {\n  if (raw == null) return null;\n  const ms = source === 'stripe' ? Number(raw) * 1000 : Number(raw);\n  return new Date(ms).toISOString();\n}\n\n// Driver for the \"Normalize\" Code node. Appended after src/normalize.js's\n// (export-stripped) functions by inject.js. Reads raw Stripe/HubSpot shapes\n// straight off named upstream nodes -- not off Merge1's combined input --\n// so it doesn't depend on Merge1's combine mode being correct.\n//\n// Stripe charge object: https://docs.stripe.com/api/charges/object\n// HubSpot deal/contact: legacy v1 shape, properties nested as {value, ...}\n// (confirmed against this workflow's Filter1 condition and live execution\n// data -- see the Split Out screenshot from this session).\n\nconst rawCharges = $('Filter').all().map((i) => i.json);\nconst rawDeals = $('Filter1').all().map((i) => i.json);\nconst rawContacts = $('Get a contact').all().map((i) => i.json);\n\n// PLAN.md §7.2: zero-amount charges are Stripe card-validation artifacts,\n// ignore entirely. §7.4: declined charges never moved money, ignore too.\nconst payments = rawCharges\n  .filter((c) => c.status === 'succeeded' && c.amount > 0)\n  .map((c) => ({\n    source: 'stripe',\n    id: c.id,\n    email: normalizeEmail(c.billing_details?.email || c.receipt_email || null),\n    name: c.billing_details?.name || null,\n    amount: normalizeAmount(c.amount, 'stripe'),\n    currency: c.currency,\n    timestamp: normalizeTimestamp(c.created, 'stripe'),\n    refunded: Boolean(c.refunded),\n    refundedAmount: normalizeAmount(c.amount_refunded || 0, 'stripe'),\n    // Charge object has no subscription field without expanding `invoice`,\n    // which \"Get many charges\" doesn't do yet -- Ahad's fetch-node follow-up\n    // (see progress.md \"Next session\"). Always null until that lands.\n    subscriptionId: null,\n    url: `https://dashboard.stripe.com/test/payments/${c.id}`,\n  }));\n\nconst deals = rawDeals.map((d, i) => {\n  const contact = rawContacts[i] || {};\n  const props = d.properties || {};\n  const cprops = contact.properties || {};\n  const firstname = cprops.firstname?.value || '';\n  const lastname = cprops.lastname?.value || '';\n  const name = firstname || lastname ? `${firstname} ${lastname}`.trim() : null;\n\n  return {\n    source: 'hubspot',\n    id: String(d.dealId),\n    email: normalizeEmail(cprops.email?.value || null),\n    name,\n    amount: normalizeAmount(props.amount?.value ?? null, 'hubspot'),\n    currency: 'usd',\n    timestamp: normalizeTimestamp(props.closedate?.value ?? null, 'hubspot'),\n    stage: props.dealstage?.value || null,\n    url: `https://app.hubspot.com/contacts/${d.portalId}/deal/${d.dealId}`,\n  };\n});\n\nreturn [{ json: { payments, deals } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1568,
        48
      ],
      "id": "12f257c2-4512-49d6-8cd6-c8ced19720e0",
      "name": "Normalize"
    },
    {
      "parameters": {
        "fieldToSplitOut": "sheetRows",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2688,
        -128
      ],
      "id": "c43779d1-eadc-418a-b1a0-483d5e117310",
      "name": "Split Out Sheet Rows"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO runs\n  (started_at, window_start, window_end, payments_fetched, deals_fetched, matched, exceptions, status)\nVALUES\n  ($1, $2, $3, $4, $5, $6, $7, 'ok')\nRETURNING id;",
        "options": {
          "queryReplacement": "={{ $now.toISO() }}, {{ $('Edit Fields').item.json.window_start }}, {{ $('Edit Fields').item.json.window_end }}, {{ $json.matchResult.matched.length + $json.matchResult.review.length + $json.matchResult.unmatchedPayments.length }}, {{ $json.matchResult.matched.length + $json.matchResult.review.length + $json.matchResult.unmatchedDeals.length }}, {{ $json.matchResult.matched.length }}, {{ $json.exceptions.length }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2240,
        384
      ],
      "id": "c37ebbe9-7d70-42cf-bd92-096d66cac189",
      "name": "Insert Run",
      "credentials": {
        "postgres": {
          "id": "9eex3nuBYxfvwzys",
          "name": "Postgres account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const runId = $input.first().json.id;\nconst { exceptions, matchResult } = $('Classify').first().json;\nreturn [{ json: { runId, exceptions, matchResult } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2464,
        160
      ],
      "id": "45defb85-2daf-4a8f-b57a-737f0ade99a7",
      "name": "Attach Run Id"
    },
    {
      "parameters": {
        "fieldToSplitOut": "matchResult.matched",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2688,
        256
      ],
      "id": "5ff841e2-7878-4f33-b4ed-7b2c5f764d12",
      "name": "Split Out Matched"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO matches (run_id, charge_id, deal_id, confidence, reasons)\nVALUES ($1, $2, $3, $4, $5);",
        "options": {
          "queryReplacement": "={{ [ $json.runId, $json['matchResult.matched'].payment.id, $json['matchResult.matched'].deal.id, $json['matchResult.matched'].confidence, JSON.stringify($json['matchResult.matched'].reasons) ] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2912,
        256
      ],
      "id": "e6070993-3553-490b-add1-ca1fa5c0f3ba",
      "name": "Insert Match",
      "credentials": {
        "postgres": {
          "id": "9eex3nuBYxfvwzys",
          "name": "Postgres account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{ \"text\": \"Reconciliation run failed. Check the `runs` table for details.\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3568,
        400
      ],
      "id": "992cc422-1ea0-4292-9936-9de653826656",
      "name": "Failure Alert"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE runs SET status='failed', error=$1 WHERE id=$2;",
        "options": {
          "queryReplacement": "={{ $json.error?.message || 'unknown error' }}, {{ $('Insert Run').first().json.id }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3248,
        64
      ],
      "id": "8efcfbd3-315b-4ea6-8e32-0ee11df0ca8b",
      "name": "Mark Run Failed",
      "credentials": {
        "postgres": {
          "id": "9eex3nuBYxfvwzys",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get many charges",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get many deals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many charges": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get many deals": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Get a contact",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a contact": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Match": {
      "main": [
        [
          {
            "node": "Classify",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify": {
      "main": [
        [
          {
            "node": "Format",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert Run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Upsert Exception",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out Sheet Rows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize": {
      "main": [
        [
          {
            "node": "Match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Sheet Rows": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Run": {
      "main": [
        [
          {
            "node": "Attach Run Id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Failure Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach Run Id": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out Matched",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Matched": {
      "main": [
        [
          {
            "node": "Insert Match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Match": {
      "main": [
        [],
        [
          {
            "node": "Mark Run Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [],
        [
          {
            "node": "Mark Run Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Run Failed": {
      "main": [
        [
          {
            "node": "Failure Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Exception": {
      "main": [
        [],
        [
          {
            "node": "Mark Run Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "879a8b12-9b69-4629-82a0-e14ae369ce3d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5ad6761c3df174a59789152e8e809be51e3a6e9fc3fdba31f182bf732d30864e"
  },
  "nodeGroups": [],
  "id": "ob89K5cknBU6QmCU",
  "tags": []
}
