workflow/workflow.template.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 2 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -592,
        0
      ],
      "id": "8300254d-6a53-4941-a9bc-a879d9d3e778",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1d756d40-bcdf-408d-b2f5-e6702e2c416c",
              "name": "window_start",
              "value": "={{ $now.minus({days:1}).startOf('day').toUTC().toISO() }}",
              "type": "string"
            },
            {
              "id": "1c5781dc-11af-4d24-bb50-3b651f886393",
              "name": "window_end",
              "value": "={{ $now.startOf('day').toUTC().toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -384,
        0
      ],
      "id": "01691f51-dde6-4834-8181-c339566c1b85",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "resource": "charge",
        "operation": "getAll",
        "returnAll": true
      },
      "type": "n8n-nodes-base.stripe",
      "typeVersion": 1,
      "position": [
        -176,
        0
      ],
      "id": "41661235-e2fa-4050-99fe-217ebc13328a",
      "name": "Get many charges",
      "credentials": {
        "stripeApi": {
          "id": "RZjNRvEiJUXJ87O1",
          "name": "Stripe account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9a13682f-7fe1-4555-8d36-c3f902ad20ff",
              "leftValue": "={{ $json.created }}",
              "rightValue": "={{ Math.floor(Date.parse($('Edit Fields').item.json.window_start)/1000) }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "d4891828-7feb-4fd5-ad2e-c0d7971ab24d",
              "leftValue": "={{ $json.created }}",
              "rightValue": "={{ Math.floor(Date.parse($('Edit Fields').item.json.window_end)/1000) }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        32,
        0
      ],
      "id": "3d8e8c12-885a-4d5c-94ce-20fd9290eaed",
      "name": "Filter"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "deal",
        "operation": "getAll",
        "returnAll": true,
        "filters": {
          "includeAssociations": true,
          "properties": [
            "dealname",
            "amount",
            "dealstage",
            "closedate",
            "createdate"
          ]
        }
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        -224,
        208
      ],
      "id": "13251971-6ad6-4c0e-9d95-2ff1e267d351",
      "name": "Get many deals",
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "ZoORp7KVYP8yiz8C",
          "name": "HubSpot account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "88188f82-e1b6-4a2c-94e1-dc383662b8b9",
              "leftValue": "={{ parseInt($json.properties.closedate.value) }}",
              "rightValue": "={{ Date.parse($('Edit Fields').item.json.window_start) }}",
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "0a1ee094-5eba-410e-a88f-de95bb28b0ac",
              "leftValue": "={{ parseInt($json.properties.closedate.value) }}",
              "rightValue": "={{ Date.parse($('Edit Fields').item.json.window_end) }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -16,
        208
      ],
      "id": "ed1ed3b4-3705-4e89-8c60-8ddfc747e497",
      "name": "Filter1"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "get",
        "contactId": {
          "__rl": true,
          "value": "={{ $json.associations.associatedVids[0] }}",
          "mode": "id"
        },
        "additionalFields": {
          "propertiesCollection": {
            "propertiesValues": {
              "properties": [
                "email",
                "firstname",
                "lastname"
              ]
            }
          }
        }
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        256,
        288
      ],
      "id": "4050d895-000a-4823-b917-4ee37857664d",
      "name": "Get a contact",
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "ZoORp7KVYP8yiz8C",
          "name": "HubSpot account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        432,
        0
      ],
      "id": "af001fdd-c0ca-461b-a558-70400ed4cb6c",
      "name": "Merge"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        672,
        208
      ],
      "id": "bd448699-f5ad-4831-9e7a-ff8c07143229",
      "name": "Merge1"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get many charges",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get many deals",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many charges": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get many deals": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Get a contact",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a contact": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "3ca0b3ca-c204-498e-955d-7582a0132401",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0b3f40cbf6bfcb55dbc3c7f3c96f03d8061ab2e3c0946bd3951304477f61d6db"
  },
  "nodeGroups": [],
  "id": "dZulEm9aR3ED60ds",
  "tags": []
}